:root {
  --bg-color: #323232;
}

/* kakaomap */
#map {
  width: 900px;
  height: 500px;
}

.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}
.dotOverlay {
  position: relative;
  bottom: 25px;
  /* bottom: -10px; */
  left: -40px;
  border-radius: 6px;
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #fff;
  border: 1px solid #919191;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
  opacity: 0.5;
}
/* #map > div:nth-child(1) > div > div:nth-child(6) > div:nth-child(1) > div */
/* #map > div:nth-child(1) > div > div:nth-child(6) > div:nth-child(9) > div */

/* div:nth-child(1) > .dotOverlay {
  opacity: 1;
}

div:nth-last-child(5) > .dotOverlay {
  opacity: 1;
} */
@media (hover: hover) and (pointer: fine) {
  .dotOverlay:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.dotOverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
/* .number {
  font-weight: bold;
  color: rgb(255, 30, 86);
  font-size: 18px;
} */
.number {
  font-weight: bold;
  color: #000;
  font-size: 18px;
}
article {
  position: absolute;
  bottom: 70px;
  right: 70px;
  z-index: 1;
  display: inline-block;
}

.distanceInfo {
  position: relative;
  top: 50px;
  left: 50px;
  list-style: none;
  margin: 0;
  line-height: 170%;
  padding: 10px 20px;
  opacity: 1;
}

.distanceInfo .label {
  display: inline-block;
  width: 50px;
}
.distanceInfo:after {
  content: none;
}

#map > article:nth-child(5) {
  position: relative;
  top: 15px;
  left: 15px;
}
.overlay_toggle_btn {
  margin: 0;
  z-index: 1;
  font-size: 12px;
  background: var(--bg-color);
  border: 1px solid #919191;
  text-align: center;
  cursor: pointer;
  color: #fff;
  width: 130px;
  height: 30px;
  box-sizing: content-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}
.toggle {
  display: none;
}

.currentLocationContainer {
  position: absolute;
  top: 145px;
  right: 15px;
}
.current_location_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  box-sizing: content-box;
  width: 36px;
  height: 36px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 2px 0px;
  background-color: #f5f5f5;
  color: var(--bg-color);
  z-index: 5;
  font-size: 15px;
  border: 1px solid #919191;
  border-radius: 5px;
}
@media (hover: hover) and (pointer: fine) {
  .current_location_btn:hover {
    background: #f5f5f5;
  }
}
.current_icon {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #2e91ff;
  box-shadow: 0 0 5px rgb(0 0 0 / 40%);
}

/* map controller */
.map_wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}
.radius_border {
  border: 1px solid #919191;
  border-radius: 5px;
}
.custom_typecontrol {
  position: absolute;
  top: 15px;
  right: 15px;
  overflow: hidden;
  width: 130px;
  height: 30px;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 12px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}
.custom_typecontrol span {
  display: block;
  width: 65px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.custom_typecontrol .btn {
  background: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .custom_typecontrol .btn:hover {
    background: #f5f5f5;
  }
}
.custom_typecontrol .btn:active {
  background: #e6e6e6;
}
.custom_typecontrol .selected_btn {
  color: #fff;
  background: var(--bg-color);
}
@media (hover: hover) and (pointer: fine) {
  .custom_typecontrol .selected_btn:hover {
    color: #fff;
  }
}
.custom_zoomcontrol {
  position: absolute;
  top: 55px;
  right: 15px;
  width: 36px;
  height: 80px;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}
.custom_zoomcontrol span {
  display: block;
  width: 36px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.custom_zoomcontrol span img {
  width: 15px;
  height: 15px;
  padding: 12px 0;
  border: none;
  box-sizing: content-box;
}
.custom_zoomcontrol span:first-child {
  border-bottom: 1px solid #bfbfbf;
}
