/* 결과페이지 */
.result {
  height: 100%;

  padding: 20px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: result_fadeIn 2.6s linear;
}
@keyframes result_fadeIn {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.result_map_container {
  position: relative;
}
.result_head {
  text-align: center;
}
.result_head_image {
  background: url("./../img/orange_brush.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
  width: 45%;
  white-space: nowrap;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.result_head {
  font-size: 2em;
  color: #000;
}
.result_head .courseName {
  color: #000;
  font-weight: bold;
}
.result_map_container {
  margin-bottom: 20px;
}
.result_text {
  /* flex-grow: 1; */
  width: 900px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.result_text .courseTimeInfo {
  display: none;
}
.result_text h3 {
  text-align: center;
  margin-bottom: 10px;
}
.result_text p {
  border-bottom: 1px solid #ecf0f2;
  padding-bottom: 10px;
}
/* 다시하기 버튼, 공유하기 버튼 div*/
.result_btn_container {
  display: none;
  text-align: center;
}
.result_btn_container button {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 30px;
  font-size: 13px;
  border-radius: 40px;
  font-weight: bold;
}

@media (hover: hover) and (pointer: fine) {
  .result_btn_container button:hover {
    background-color: #000;
    color: #fff;
  }
}
.result_btn_container button:nth-child(1) {
  margin-right: 5px;
}
.result_btn_container p a {
  font-size: 1.5em;
  text-decoration: none;
  color: orange;
  font-weight: bold;
  letter-spacing: 2px;
}
