/* 결과대기 애니메이션 페이지 */
.result_animation {
  position: relative;
  top: 0px;
  height: 100%;
  width: 100%;
  /* display: none; */
  transform: scale(0.7);
  overflow: hidden;
  z-index: 10;
}
.result_animation h1 {
  position: absolute;
  bottom: 12%;
  color: #ff1e56;
  left: 50%;
  transform: translate(-47.5%, -50%);
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  animation: shake 2s infinite linear;
}
@keyframes shake {
  from {
    transform: translate(-47.5%, -50%);
  }
  30% {
    transform: translate(-47.5%, -50%) rotate(-2deg) translateY(-1px);
  }
  80% {
    transform: translate(-47.5%, -50%) rotate(2deg) translateY(1px);
  }
  100% {
    transform: translate(-47.5%, -50%);
  }
}
.run img {
  width: 100%;
}
.run {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: updown 0.5s linear infinite alternate;
}
.hand1 {
  position: absolute;
  z-index: -1;
  top: 19.7%;
  left: 45%;
  width: 17%;
  transform-origin: 90% 10%;
  animation: hand1 1.5s linear infinite;
}
.hand2 {
  position: absolute;
  z-index: 1;
  top: 19.4%;
  left: 46%;
  width: 16%;
  transform-origin: 100% 20%;
  animation: hand2 1.5s linear infinite;
}
.thigh-1 {
  position: absolute;
  z-index: -2;
  top: 45%;
  left: 48.7%;
  width: 22%;
  animation: thigh1 1.5s linear infinite;
  transform-origin: 40% 10%;
}
.calf-1 {
  position: absolute;
  z-index: -1;
  top: 105%;
  left: 65%;
  width: 75%;
  animation: calf1 1.5s linear infinite;
  transform-origin: 30% 0%;
}
.ankle-1 {
  position: absolute;
  z-index: 1;
  bottom: -30%;
  right: -50%;
  width: 95%;
  animation: ankle1 1.5s linear infinite;
  transform-origin: 20% 10%;
}
.toe-1 {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: -5%;
  width: 40%;
  animation: toe1 1.5s linear infinite;
  transform-origin: left bottom;
}
.thigh-2 {
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 48.7%;
  width: 22%;
  animation: thigh2 1.5s linear infinite;
  transform-origin: 40% 10%;
}
.calf-2 {
  position: absolute;
  z-index: -1;
  top: 105%;
  left: 65%;
  width: 75%;
  animation: calf2 1.5s linear infinite;
  transform-origin: 30% 0%;
}

.ankle-2 {
  position: absolute;
  z-index: 1;
  bottom: -30%;
  right: -50%;
  width: 95%;
  animation: ankle2 1.5s linear infinite;
  transform-origin: 20% 10%;
}
.toe-2 {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: -5%;
  width: 40%;
  animation: toe2 1.5s linear infinite;
  transform-origin: left bottom;
}
@keyframes hand1 {
  from {
    transform: rotate(-100deg);
  }
  10% {
    transform: rotate(-110deg);
  }
  20% {
    transform: rotate(-100deg);
  }
  30% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(-100deg);
  }
}
@keyframes hand2 {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  60% {
    transform: rotate(-110deg);
  }
  70% {
    transform: rotate(-100deg);
  }
  80% {
    transform: rotate(-60deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes thigh1 {
  from {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(50deg);
  }
  20% {
    transform: rotate(55deg);
  }
  30% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes calf1 {
  from {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(70deg);
  }
  30% {
    transform: rotate(110deg);
  }
  40% {
    transform: rotate(110deg);
  }
  50% {
    transform: rotate(110deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes ankle1 {
  from {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-40deg);
  }
  90% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes toe1 {
  from {
    transform: rotate(-40deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}
/* 두번째 다리 */
@keyframes thigh2 {
  from {
    transform: rotate(-40deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(50deg);
  }
  70% {
    transform: rotate(55deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes calf2 {
  from {
    transform: rotate(100deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(70deg);
  }
  80% {
    transform: rotate(110deg);
  }
  90% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(100deg);
  }
}
@keyframes ankle2 {
  from {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-40deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes toe2 {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes updown {
  from {
    margin-top: -8px;
  }
  to {
    margin-top: 0;
  }
}
/* @keyframes bigger {
  from {
    transform: translateX(-50%) scale(0.5);
  }
  to {
    transform: translateX(50%);
  }
} */
