@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("../font/AppleSDGothicNeoL.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
  letter-spacing: 1px;
}
body {
  height: 100vh;
  /* overflow: hidden; */
}
.first__page {
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.first__page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-weight: bold;
}

.first__page__container h2 {
  font-size: 3em;
}
.first__page__container h1 {
  font-size: 4em;
}
.first__page__container p {
  font-size: 1.5em;
}
.first__page__container button {
  padding: 20px 30px;
  font-size: 2em;
  border-radius: 50px;
  margin-top: 40px;
}

header {
  height: 80px;
  width: 100%;
  /* background-color: #f5f5f7; */
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: transparent;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
}
main .container {
  width: 100%;
  height: 100%;
  /* background-color: rgb(184, 184, 184); */
}
main .container .choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container .choice .choice-img {
  width: 90px;
  margin-top: 50px;
  margin-bottom: 20px;
}
main .container .choice .choice-text {
  margin-bottom: 30px;
  padding: 50px 100px;
  border-radius: 70px;
  font-size: 13px;
  border: 3px solid #000;
}
main .container .choice .back_btn {
  padding: 10px 20px;
  display: none;
  margin-top: 30px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
}
main .container .choice .choice-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

main .container .choice .choice-box .choice-items {
  width: 350px;
  min-height: 78px;
  border: 2px solid #000;
  border-radius: 50px;
  /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3); */
  cursor: pointer;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .choice .choice-box .choice-items:hover {
  background-color: #ececec;
  transition: 1s;
}

header {
  height: 150px;
  width: 100%;
  /* background-color: skyblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice-btn {
  display: none;
  text-align: center;
  /* visibility: hidden; */
}
.choice-btn button {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.choice-btn p a {
  font-size: 1.5em;
  text-decoration: none;
}

header .progress {
  width: 90%;
  height: 80%;
  /* background-color: rgb(95, 94, 94); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .progress .progress-bar {
  width: 30%;
  height: 5px;
  background-color: #e5e5e5;
}
header .progress .progress-bar .progress-image {
  height: 100%;
  background-color: black;
  transition: 0.5s;
  position: relative;
}

header .progress .progress-bar .progress-image i {
  color: black;
  position: absolute;
  right: -20px;
  top: -15px;
}
header .progress .progress-text {
  font-weight: bold;
  font-size: 25px;
}

#map {
  margin-bottom: 30px;
}

.result {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.choice-result {
  position: relative;
}
.result_text {
  width: 50%;
}

/* kakaomap */
.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}
.dotOverlay {
  position: relative;
  /* bottom: -55px; */
  bottom: -10px;
  left: -40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #fff;
}
.dotOverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.number {
  font-weight: bold;
  color: #ee6152;
}
.dotOverlay:after {
  content: "";
  position: absolute;
  margin-left: -6px;
  left: 50%;
  /* bottom: -8px; */
  bottom: 40px;
  width: 11px;
  height: 8px;
  transform: rotate(180deg);
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png");
}

article {
  position: absolute;
  bottom: 70px;
  right: 70px;
  z-index: 2;
}

.distanceInfo {
  /* position: relative; */
  position: relative;
  top: 50px;
  left: 50px;
  list-style: none;
  margin: 0;
  line-height: 170%;
  padding: 10px 20px;
}
.distanceInfo .label {
  display: inline-block;
  width: 50px;
}
.distanceInfo:after {
  content: none;
}

.btn {
  position: absolute;
  top: 75px;
  left: 470px;
  overflow: hidden;
  margin: 0;
  z-index: 3;
  font-size: 12px;
  background-color: #3396ff;
  border: none;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: white;
  padding: 3px 10px;
  width: 106px;
  height: 32px;
  box-sizing: content-box;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}
.toggle {
  display: none;
}
