@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("../font/AppleSDGothicNeoL.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", sans-serif;
  letter-spacing: 1px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 80px;
  width: 100%;
  /* background-color: #f5f5f7; */
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container {
  width: 90%;
  height: 100%;
  /* background-color: rgb(184, 184, 184); */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container .choice .choice-img {
  width: 120px;
  margin-bottom: 30px;
}
main .container .choice .choice-text {
  margin-bottom: 30px;
  padding: 50px 100px;
  border-radius: 30px;
  position: relative;
  font-size: 13px;
  border: 7px solid #000;
}
main .container .choice .choice-text button {
  position: absolute;
  top: 3px;
  right: -150px;
  padding: 10px 20px;
  display: none;
}
main .container .choice .choice-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

main .container .choice .choice-box .choice-items {
  width: 300px;
  height: 70px;
  border: 7px solid #000;
  border-radius: 35px;
  /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3); */
  cursor: pointer;
  /* color: white; */
  /* background: #000; */
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .choice .choice-box .choice-items:hover {
  background-color: #f5f5f7;
  transition: 1s;
}

footer {
  height: 150px;
  width: 100%;
  /* background-color: skyblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .choice .choice-btn {
  display: none;
  text-align: center;
  /* visibility: hidden; */
}
main .container .choice .choice-btn button {
  padding: 10px 20px;
  margin-bottom: 10px;
}

main .container .choice .choice-btn p a {
  font-size: 1.5em;
  text-decoration: none;
}

footer .progress {
  width: 90%;
  height: 80%;
  /* background-color: rgb(95, 94, 94); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .progress .progress-bar {
  width: 80%;
  height: 10px;
  background-color: #e5e5e5;
}
footer .progress .progress-bar .progress-image {
  height: 100%;
  background-color: black;
  transition: 0.5s;
  position: relative;
}

footer .progress .progress-bar .progress-image i {
  color: black;
  position: absolute;
  right: -20px;
  top: -15px;
}
footer .progress .progress-text {
  font-weight: bold;
  font-size: 30px;
}

#map {
  margin-bottom: 30px;
}
