/* 결과대기 애니메이션 페이지 */
.result_animation {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  transform: scale(0.7);
  z-index: 10;
}
.result_animation h1 {
  position: absolute;
  bottom: -22%;
  color: #ff1e56;
  left: 55%;
  transform: translate(-47.5%, -50%);
  text-align: center;
  font-size: 2.5em;
  width: 130%;
  animation: shake 2s infinite linear;
}
@keyframes shake {
  from {
    transform: translate(-47.5%, -50%);
  }
  30% {
    transform: translate(-47.5%, -50%) rotate(-2deg) translateY(-1px);
  }
  80% {
    transform: translate(-47.5%, -50%) rotate(2deg) translateY(1px);
  }
  100% {
    transform: translate(-47.5%, -50%);
  }
}
.run img,
.run0 img,
.run2 img {
  width: 100%;
}
.run0 {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  transform: translate(50%, -50%);
  animation: updown 0.5s linear infinite alternate;
}
.run {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: updown 0.5s linear infinite alternate;
}
.run2 {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  transform: translate(-150%, -50%);
  animation: updown 0.5s linear infinite alternate;
}
.hand1 {
  position: absolute;
  z-index: -1;
  top: 19.7%;
  left: 45%;
  width: 17%;
  transform-origin: 90% 10%;
  animation: hand1 1.5s linear infinite;
}
.hand2 {
  position: absolute;
  z-index: 1;
  top: 19.4%;
  left: 46%;
  width: 16%;
  transform-origin: 100% 20%;
  animation: hand2 1.5s linear infinite;
}
.thigh-1 {
  position: absolute;
  z-index: -2;
  top: 45%;
  left: 48.7%;
  width: 22%;
  animation: thigh1 1.5s linear infinite;
  transform-origin: 40% 10%;
}
.calf-1 {
  position: absolute;
  z-index: -1;
  top: 105%;
  left: 65%;
  width: 75%;
  animation: calf1 1.5s linear infinite;
  transform-origin: 30% 0%;
}
.ankle-1 {
  position: absolute;
  z-index: 1;
  bottom: -30%;
  right: -50%;
  width: 95%;
  animation: ankle1 1.5s linear infinite;
  transform-origin: 20% 10%;
}
.toe-1 {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: -5%;
  width: 40%;
  animation: toe1 1.5s linear infinite;
  transform-origin: left bottom;
}
.thigh-2 {
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 48.7%;
  width: 22%;
  animation: thigh2 1.5s linear infinite;
  transform-origin: 40% 10%;
}
.calf-2 {
  position: absolute;
  z-index: -1;
  top: 105%;
  left: 65%;
  width: 75%;
  animation: calf2 1.5s linear infinite;
  transform-origin: 30% 0%;
}

.ankle-2 {
  position: absolute;
  z-index: 1;
  bottom: -30%;
  right: -50%;
  width: 95%;
  animation: ankle2 1.5s linear infinite;
  transform-origin: 20% 10%;
}
.toe-2 {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: -5%;
  width: 40%;
  animation: toe2 1.5s linear infinite;
  transform-origin: left bottom;
}
@keyframes hand1 {
  from {
    transform: rotate(-100deg);
  }
  10% {
    transform: rotate(-110deg);
  }
  20% {
    transform: rotate(-100deg);
  }
  30% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(-100deg);
  }
}
@keyframes hand2 {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  60% {
    transform: rotate(-110deg);
  }
  70% {
    transform: rotate(-100deg);
  }
  80% {
    transform: rotate(-60deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes thigh1 {
  from {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(50deg);
  }
  20% {
    transform: rotate(55deg);
  }
  30% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes calf1 {
  from {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(70deg);
  }
  30% {
    transform: rotate(110deg);
  }
  40% {
    transform: rotate(110deg);
  }
  50% {
    transform: rotate(110deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes ankle1 {
  from {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-40deg);
  }
  90% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes toe1 {
  from {
    transform: rotate(-40deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}
/* 두번째 다리 */
@keyframes thigh2 {
  from {
    transform: rotate(-40deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(50deg);
  }
  70% {
    transform: rotate(55deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes calf2 {
  from {
    transform: rotate(100deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(70deg);
  }
  80% {
    transform: rotate(110deg);
  }
  90% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(100deg);
  }
}
@keyframes ankle2 {
  from {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-40deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes toe2 {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes updown {
  from {
    margin-top: -8px;
  }
  to {
    margin-top: 0;
  }
}

/* 결과페이지 */
.result {
  height: 100%;
  padding: 20px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color-dark);
  animation: result_fadeIn 2.6s linear;
}
@keyframes result_fadeIn {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.result_map_container {
  position: relative;
}

/* 결과 제목 */
.result_head_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}
.result_head {
  font-size: 2em;
  color: var(--font-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.result_head .courseNameNum {
  background-color: var(--font-color-orange);
  color: var(--font-color-white);
  margin-right: 15px;
  font-size: 0.6em;
  border-radius: 20px;
  padding: 2px 10px;
  padding-top: 5px;
  margin-bottom: 2px;
}
.result_course_destination {
  font-weight: bold;
  color: rgb(148, 148, 148);
}

/* 결과 코스 경로 */
.result_course_path {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 15px;
  width: 900px;
}
.result_map_container {
  margin-bottom: 20px;
}
.result_text {
  width: 900px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}
.result_text .courseTimeInfo {
  display: none;
}
.result_text {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result_text b {
  font-size: 1.1em;
  margin-bottom: 5px;
}

/* 다시하기 버튼, 공유하기 버튼 div*/
.result_btn_container {
  display: none;
  text-align: center;
}
.result_btn_container button {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 30px;
  padding-bottom: 8px;
  font-size: 16px;
  font-size: bold;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid var(--font-color-orange);
  color: var(--font-color-orange);
}

.result_btn_container button:nth-child(1) {
  margin-right: 10px;
}

/* 공유하기 모달 */
.result_modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding-top: 15%;
}
.result_modal .modal_container {
  width: 300px;
  height: 50%;
  margin: auto;
  background-color: #fefefe;
  position: relative;
  padding: 20px;
  border-radius: 20px;
}
.result_modal .modal_container h3 {
  text-align: center;
  text-align: 1.5em;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}
.result_modal .modal_container .modal_content {
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.result_modal .modal_container .modal_content img {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.result_modal .modal_container .modal_content span {
  cursor: pointer;
}
.result_modal .modal_container .modal_exit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.3em;
  color: #aaaaaa;
}

/*  카카오맵  */
#map {
  width: 900px;
  height: 450px;
}

/* 거점 */
.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}

/* 거점 오버레이 */
.dotOverlay {
  position: relative;
  bottom: 25px;
  left: -40px;
  border-radius: 6px;
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #fff;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
  opacity: 0.9;
}

.dotOverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.dotOverlay > div:nth-child(1) {
  font-weight: bold;
}

/* 총거리, 총 소요시간 오버레이 */
.number {
  font-weight: bold;
  color: var(--font-color-orange);
  font-size: 18px;
}
article {
  position: absolute;
  bottom: 70px;
  right: 70px;
  z-index: 1;
  display: inline-block;
}
.distanceInfo {
  position: relative;
  top: 50px;
  left: 50px;
  list-style: none;
  margin: 0;
  line-height: 170%;
  padding: 10px 20px;
  opacity: 1;
}
.distanceInfo .label {
  display: inline-block;
  width: 50px;
}
.distanceInfo:after {
  content: none;
}

/* 거점 숨기기 버튼 */
#map > article:nth-child(5) {
  position: relative;
  top: 15px;
  left: 15px;
}
.overlay_toggle_btn {
  margin: 0;
  z-index: 1;
  font-size: 12px;
  background: var(--font-color-white);
  border: 1px solid #919191;
  text-align: center;
  cursor: pointer;
  color: var(--font-color-dark);
  font-weight: bold;
  width: 130px;
  height: 30px;
  box-sizing: content-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}

.toggle {
  display: none;
}

/* 현위치 버튼 */
.currentLocationContainer {
  position: absolute;
  top: 145px;
  right: 15px;
}
.current_location_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  box-sizing: content-box;
  width: 36px;
  height: 36px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 2px 0px;
  background-color: #fff;
  color: var(--font-color-dark);
  z-index: 5;
  font-size: 15px;
  border: 1px solid #919191;
  border-radius: 5px;
}

/* map controller */
.map_wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}
.radius_border {
  border: 1px solid #919191;
  border-radius: 5px;
}

/* 지도 타입 변경 버튼*/
.custom_typecontrol {
  position: absolute;
  top: 15px;
  right: 15px;
  overflow: hidden;
  width: 130px;
  height: 30px;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 12px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
  font-weight: bold;
}
.custom_typecontrol span {
  display: block;
  width: 65px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.custom_typecontrol .btn {
  background: #fff;
}

.custom_typecontrol .btn:active {
  background: #e6e6e6;
}
.custom_typecontrol .selected_btn {
  color: #fff;
  background: #777d86;
}

/* 지도 축소, 확대 변경 버튼*/
.custom_zoomcontrol {
  position: absolute;
  top: 55px;
  right: 15px;
  width: 36px;
  height: 80px;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}

.custom_zoomcontrol span {
  display: block;
  width: 36px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.custom_zoomcontrol span img {
  width: 15px;
  height: 15px;
  padding: 12px 0;
  border: none;
  box-sizing: content-box;
}
.custom_zoomcontrol span:first-child {
  border-bottom: 1px solid #bfbfbf;
}
